
body
{

background: url(../img/background.jpg);

}

header 
{	
	text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

section
{

	margin-right: 4%;
	margin-left: 4%;
}
span{
    
    color: #ffffff;
}
img{
    border-radius: 3px;
    float: left;
}



#menu{
    background-color: #283963;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;


}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;

}
#menu ul li{
    display: inline;
    margin-left: 10px;
    float: right;
    border-color: #ffffff;
    background-color: #283963;
}
#menu ul span{
    float: center;
}

#menu ul li a:hover{
    color: #ffffff;
    text-decoration: none;
}


.pad-basic

{
padding:.5%; 
	
}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}
#busqueda_solicitudes, #busqueda{
    border-radius: 5px;
}



